$c_dark_0: #C9C9C9;
$c_dark_1: #b8b8b8;
$c_dark_2: #828282;
$c_dark_3: #696969;
$c_dark_4: #424242;
$c_dark_5: #3b3b3b;
$c_dark_6: #2e2e2e;
$c_dark_7: #242424;
$c_dark_8: #1f1f1f;
$c_dark_9: #141414;

$c_gray_0: #f8f9fa;
$c_gray_1: #f1f3f5;
$c_gray_2: #e9ecef;
$c_gray_3: #dee2e6;
$c_gray_4: #ced4da;
$c_gray_5: #adb5bd;
$c_gray_6: #868e96;
$c_gray_7: #495057;
$c_gray_8: #343a40;
$c_gray_9: #212529;

$c_red_0: #fff5f5;
$c_red_1: #ffe3e3;
$c_red_2: #ffc9c9;
$c_red_3: #ffa8a8;
$c_red_4: #ff8787;
$c_red_5: #ff6b6b;
$c_red_6: #fa5252;
$c_red_7: #f03e3e;
$c_red_8: #e03131;
$c_red_9: #c92a2a;

$c_pink_0: #fff0f6;
$c_pink_1: #ffdeeb;
$c_pink_2: #fcc2d7;
$c_pink_3: #faa2c1;
$c_pink_4: #f783ac;
$c_pink_5: #f06595;
$c_pink_6: #e64980;
$c_pink_7: #d6336c;
$c_pink_8: #c2255c;
$c_pink_9: #a61e4d;

$c_grape_0: #f8f0fc;
$c_grape_1: #f3d9fa;
$c_grape_2: #eebefa;
$c_grape_3: #e599f7;
$c_grape_4: #da77f2;
$c_grape_5: #cc5de8;
$c_grape_6: #be4bdb;
$c_grape_7: #ae3ec9;
$c_grape_8: #9c36b5;
$c_grape_9: #862e9c;

$c_violet_0: #f3f0ff;
$c_violet_1: #e5dbff;
$c_violet_2: #d0bfff;
$c_violet_3: #b197fc;
$c_violet_4: #9775fa;
$c_violet_5: #845ef7;
$c_violet_6: #7950f2;
$c_violet_7: #7048e8;
$c_violet_8: #6741d9;
$c_violet_9: #5f3dc4;

$c_indigo_0: #edf2ff;
$c_indigo_1: #dbe4ff;
$c_indigo_2: #bac8ff;
$c_indigo_3: #91a7ff;
$c_indigo_4: #748ffc;
$c_indigo_5: #5c7cfa;
$c_indigo_6: #4c6ef5;
$c_indigo_7: #4263eb;
$c_indigo_8: #3b5bdb;
$c_indigo_9: #364fc7;

$c_blue_0: #e7f5ff;
$c_blue_1: #d0ebff;
$c_blue_2: #a5d8ff;
$c_blue_3: #74c0fc;
$c_blue_4: #4dabf7;
$c_blue_5: #339af0;
$c_blue_6: #228be6;
$c_blue_7: #1c7ed6;
$c_blue_8: #1971c2;
$c_blue_9: #1864ab;

$c_cyan_0: #e3fafc;
$c_cyan_1: #c5f6fa;
$c_cyan_2: #99e9f2;
$c_cyan_3: #66d9e8;
$c_cyan_4: #3bc9db;
$c_cyan_5: #22b8cf;
$c_cyan_6: #15aabf;
$c_cyan_7: #1098ad;
$c_cyan_8: #0c8599;
$c_cyan_9: #0b7285;

$c_teal_0: #e6fcf5;
$c_teal_1: #c3fae8;
$c_teal_2: #96f2d7;
$c_teal_3: #63e6be;
$c_teal_4: #38d9a9;
$c_teal_5: #20c997;
$c_teal_6: #12b886;
$c_teal_7: #0ca678;
$c_teal_8: #099268;
$c_teal_9: #087f5b;

$c_green_0: #ebfbee;
$c_green_1: #d3f9d8;
$c_green_2: #b2f2bb;
$c_green_3: #8ce99a;
$c_green_4: #69db7c;
$c_green_5: #51cf66;
$c_green_6: #40c057;
$c_green_7: #37b24d;
$c_green_8: #2f9e44;
$c_green_9: #2b8a3e;

$c_lime_0: #f4fce3;
$c_lime_1: #e9fac8;
$c_lime_2: #d8f5a2;
$c_lime_3: #c0eb75;
$c_lime_4: #a9e34b;
$c_lime_5: #94d82d;
$c_lime_6: #82c91e;
$c_lime_7: #74b816;
$c_lime_8: #66a80f;
$c_lime_9: #5c940d;

$c_yellow_0: #fff9db;
$c_yellow_1: #fff3bf;
$c_yellow_2: #ffec99;
$c_yellow_3: #ffe066;
$c_yellow_4: #ffd43b;
$c_yellow_5: #fcc419;
$c_yellow_6: #fab005;
$c_yellow_7: #f59f00;
$c_yellow_8: #f08c00;
$c_yellow_9: #e67700;

$c_orange_0: #fff4e6;
$c_orange_1: #ffe8cc;
$c_orange_2: #ffd8a8;
$c_orange_3: #ffc078;
$c_orange_4: #ffa94d;
$c_orange_5: #ff922b;
$c_orange_6: #fd7e14;
$c_orange_7: #f76707;
$c_orange_8: #e8590c;
$c_orange_9: #d9480f;

$c_black: #000000;
$c_white: #ffffff;

$c_primary: $c_blue_6;
$c_primary_hover: $c_blue_7;
$c_primary_active: $c_blue_8;

$c_secondary: $c_gray_4;

$c_success: $c_green_6;
$c_success_light: $c_green_1;

$c_info: $c_blue_5;
$c_info_light: $c_blue_1;

$c_warn: $c_orange_5;
$c_warn_light: $c_orange_1;

$c_error: $c_red_7;
$c_error_light: $c_red_1;

$c_text_light: $c_gray_0;
$c_text_dark: $c_dark_9;
$c_text_dark_disabled: $c_dark_3;
$c_text_primary: $c_text_dark;
$c_text_secondary: $c_dark_3;
$c_text_error: $c_error;
$c_text_placeholder: $c_dark_1;

$c_shadow: $c_gray_3;

$c_overlay: rgba($c_dark_5, 0.65);