$s_base: calc(1rem / 4);

$s_xxxxs: $s_base;
$s_xxxs: $s_base * 2;
$s_xxs: $s_base * 3;
$s_xs: $s_base * 4;
$s_sm: $s_base * 5;
$s_md: $s_base * 6;
$s_lg: $s_base * 7;
$s_xl: $s_base * 8;
$s_xxl: $s_base * 9;
$s_xxxl: $s_base * 10;
$s_xxxxl: $s_base * 11;