@import "../../variables/all";

.button {
  border: none;
  border-radius: $b_sm;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;

  // SVG
  & > svg:first-child {
    margin-right: $s_xxxs;
  }

  & > svg:last-child {
    margin-left: $s_xxxs;
  }

  &[data-size="xs"],
  &[data-size="sm"] {
    & > svg:first-child {
      margin-right: $s_xxxxs;
    }

    & > svg:last-child {
      margin-left: $s_xxxxs;
    }
  }

  // Размеры
  &[data-size="xs"] {
    padding: $s_xxxxs $s_xxxs;

    & > svg {
      height: $lh_xs;
      width: $lh_xs;
    }
  }

  &[data-size="sm"] {
    padding: $s_xxxs $s_xxs;

    & > svg {
      height: $lh_sm;
      width: $lh_sm;
    }
  }

  &[data-size="md"] {
    padding: $s_xxs $s_sm;

    & > svg {
      height: $lh_md;
      width: $lh_md;
    }
  }

  &[data-size="lg"] {
    padding: $s_xs $s_lg;

    & > svg {
      height: $lh_lg;
      width: $lh_lg;
    }
  }

  &[data-size="xl"] {
    padding: $s_sm $s_xl;

    & > svg {
      height: $lh_xl;
      width: $lh_xl;
    }
  }

  // Варианты
  &[data-variant="primary"] {
    background-color: $c_primary;
    color: $c_text_light;
    @include shadow_lg(rgba($c_primary, 0.2));

    & > *[data-component="Text"] {
      color: $c_text_light;
    }

    &:hover {
      background-color: $c_primary_hover;
      @include shadow_lg(rgba($c_primary_hover, 0.2));

      @include tablet {
        background-color: $c_primary;
        @include shadow_lg(rgba($c_primary, 0.2));
      }
    }

    &:active {
      background-color: $c_primary_active;
      @include shadow_lg(rgba($c_primary_active, 0.2));
    }
  }

  &[data-variant="secondary"] {
    background-color: transparent;
    color: $c_text_dark;

    & > *[data-component="Text"] {
      color: $c_text_dark;
    }

    &:hover {
      background-color: $c_gray_2;

      @include tablet {
        background-color: transparent;
      }
    }

    &:active {
      background-color: $c_gray_3;
    }
  }

  // Отключение
  &[data-disabled="true"] {
    pointer-events: none;
    color: $c_text_dark_disabled;

    & > *[data-component="Text"] {
      color: $c_text_dark_disabled;
    }

    &[data-variant="primary"] {
      background-color: $c_gray_3;
      box-shadow: none;
    }

    &[data-variant="secondary"] {
      background-color: transparent;
    }
  }

  // Загрузка
  &[data-loading="true"] {
    pointer-events: none;
  }
}

.loaderIcon {
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}