@import "../../variables/all";

.bodyHidden {
  overflow: hidden;
}

.wrapper {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  background-color: transparent;
  display: flex;

  // Положение
  &[data-placement="left"] {
    justify-content: flex-start;

    & > .content {
      transform: translate(-100%, 0);
      border-radius: 0 $b_md $b_md 0;
    }
  }

  &[data-placement="right"] {
    justify-content: flex-end;

    & > .content {
      transform: translate(100%, 0);
      border-radius: $b_md 0 0 $b_md;
    }
  }

  &[data-placement="down"] {
    flex-direction: column;
    justify-content: flex-end;

    & > .content {
      transform: translate(0, 100%);
      border-radius: $b_md $b_md 0 0;
    }
  }

  // Состояние открыто
  &[data-open="true"] {
    user-select: auto;
    pointer-events: auto;
    background-color: $c_overlay;

    & > .content {
      transform: translate(0, 0);
    }
  }
}

.content {
  padding: $s_sm;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  user-select: none;
  pointer-events: none;
  background-color: $c_white;
  @include shadow_sm(transparent);

  // Размер
  &[data-size="sm"] {
    flex: 0 0 30%;
  }

  &[data-size="md"] {
    flex: 0 0 55%;
  }

  &[data-size="lg"] {
    flex: 0 0 80%;
  }

  // Отрисован
  &[data-open="true"] {
    @include shadow_sm($c_dark_3);
    user-select: auto;
    pointer-events: auto;
  }
}